SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
STRIPE_SECRET_KEY=your-secret-key
FRONTEND_SUCCESS_URL=http://localhost:8000/api/payments/success/
FRONTEND_CANCEL_URL=http://localhost:8000/api/payments/cancel/